.four--steps {
  &--container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background: $white;
  }

  &--item--container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }


}
